@import "tailwindcss";

@theme {
  --color-neon-green: #39ff14;
  --color-neon-cyan: #00ffff;
  --color-neon-pink: #ff0055;
  --color-dark-bg: #0d0d0d;

  --font-terminal: 'VT323', monospace;
  --font-header: 'Press Start 2P', cursive;
  --font-body: 'Share Tech Mono', monospace;

  --animate-glitch: glitch-anim 2.5s infinite linear alternate-reverse;
  --animate-glitch-2: glitch-anim-2 3s infinite linear alternate-reverse;
  --animate-scan: scan 3s infinite linear;
  --animate-blink: blink 1s infinite;
  --animate-flicker: iframe-flicker 0.15s infinite;

  @keyframes glitch-anim {
    0% {
      clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }

    5% {
      clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }

    10% {
      clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }

    15% {
      clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }

    20% {
      clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }

    25% {
      clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }

    30% {
      clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }

    35% {
      clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }

    40% {
      clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }

    45% {
      clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }

    50% {
      clip-path: polygon(0 70%, 100% 70%, 100% 90%, 0 90%);
    }

    55% {
      clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }

    60% {
      clip-path: polygon(0 50%, 100% 50%, 100% 80%, 0 80%);
    }

    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes glitch-anim-2 {
    0% {
      clip-path: polygon(0 12%, 100% 12%, 100% 13%, 0 13%);
    }

    5% {
      clip-path: polygon(0 8%, 100% 8%, 100% 15%, 0 15%);
    }

    10% {
      clip-path: polygon(0 3%, 100% 3%, 100% 5%, 0 5%);
    }

    15% {
      clip-path: polygon(0 22%, 100% 22%, 100% 25%, 0 25%);
    }

    20% {
      clip-path: polygon(0 55%, 100% 55%, 100% 60%, 0 60%);
    }

    25% {
      clip-path: polygon(0 66%, 100% 66%, 100% 70%, 0 70%);
    }

    30% {
      clip-path: polygon(0 88%, 100% 88%, 100% 90%, 0 90%);
    }

    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes scan {
    0% {
      top: 0%;
    }

    100% {
      top: 100%;
    }
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }
  }

  @keyframes iframe-flicker {
    0% {
      opacity: 0.1;
    }

    5% {
      opacity: 0.2;
    }

    10% {
      opacity: 0.1;
    }
  }
}

/* Global resets and base styles */
body {
  @apply bg-dark-bg text-neon-green font-body overflow-x-hidden leading-relaxed;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  @apply bg-neon-green border border-neon-cyan;
}